.color-game {
  margin-top: 1rem;
}

.color-palette {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto 1.5rem;
  gap: 2rem;
  font-size: 1.5rem;
  color: #fff;
}

.palette-item {
  position: relative;
  width: 45%;
  height: 0;
  padding-top: 45%;
  border-radius: 50%;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s ease;
  transform: rotateY(0deg);
}

.palette-item:hover {
  transform: scale(1.05);
}

.palette-item.active {
  transform: rotateY(180deg);
}

.palette-item > span {
  font-size: 1.3rem;
  user-select: none;
  opacity: 0;
  transition: opacity 0.4s;
  transition-delay: 0.4s;
  position: absolute;
  top: 50%;
  transform: scaleX(-1) translateY(-50%);
}

.palette-item.active > span {
  display: initial;
  opacity: 1;
}

.hint {
  position: absolute;
  top: 6.25rem;
  left: 3.5rem;
  border: 0;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  background-color: #d9534f;
  color: #fff;
  border: 0.125rem solid #fff;
  border-radius: 0.5rem;
}

.hint:hover {
  transform: scale(1.05);
}

.hint-list {
  position: absolute;
  top: 8rem;
  left: 3.5rem;
  text-align: center;
  transition: height 0.5s ease;
  overflow: hidden;
  height: 0;
}

.hint-item {
  color: #fff;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 8.125rem;
  line-height: 8.125rem;
}
.color-game {
  margin-top: 1rem;
}

.color-palette {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto 1.5rem;
  gap: 2rem;
  font-size: 1.5rem;
  color: #fff;
}

.palette-item {
  position: relative;
  width: 45%;
  height: 0;
  padding-top: 45%;
  border-radius: 50%;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s ease;
  transform: rotateY(0deg);
}

.palette-item:hover {
  transform: scale(1.05);
}

.palette-item.active {
  transform: rotateY(180deg);
}

.palette-item > span {
  user-select: none;
  opacity: 0;
  transition: opacity 0.4s;
  transition-delay: 0.4s;
  position: absolute;
  top: 50%;
  transform: scaleX(-1) translateY(-50%);
}

.palette-item.active > span {
  display: initial;
  opacity: 1;
}

.hint {
  position: absolute;
  top: 6.25rem;
  left: 3.5rem;
  border: 0;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  background-color: #d9534f;
  color: #fff;
  border: 0.125rem solid #fff;
  border-radius: 0.5rem;
}

.hint:hover {
  transform: scale(1.05);
}

.hint-list {
  position: absolute;
  top: 8rem;
  left: 3.5rem;
  text-align: center;
  transition: height 0.5s ease;
  overflow: hidden;
  height: 0;
}

.hint-item {
  color: #fff;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 8.125rem;
  line-height: 8.125rem;
}
