* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e1fbff;
}

.game-list {
  display: flex;
  margin-top: 30px;
}

.game-container {
  width: 400px;
  height: 400px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 10px 20px -5px #ccc;
  margin: 0 30px;

  position: relative;
  transform-style: preserve-3d;
  transition: all 2s ease;
}

.game-container:hover {
  transform: rotateY(180deg);
}

.game-gif,
.game-back {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
  border-radius: 10px;
}

.game-back {
  background-color: var(--main-color);
  backface-visibility: hidden;
}

.mine,
.color,
.card {
  background-size: cover;
  background-position-x: center;
  transform: scaleX(-1);
}
.mine {
  background-image: url(../images/minesweeper.gif);
}

.color {
  background-image: url(../images/card_ani.gif);
}

.card {
  background-image: url(../images/card_ani.gif);
}

h1 {
  font-size: 5em;
  color: #085863;
  margin-top: 50px;
}
