@import url('./reset.css');
@import url('./popup.css');

.minesweeper-wrap {
  margin: 0 auto;
  width: 500px;
  height: 500px;
}
.minesweeper-board {
  width: 100%;
  height: 100%;
}
.row {
  --width-ratio: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--width-ratio);
}
.col {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  transition: all 0.3s ease;
}
.col:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.flag {
  background-color: red !important;
}
.open {
  background-color: skyblue;
}
